<div class="page_container">

  <div class="register_container">

    <div class="enter log">
      <%= link_to "Log In", new_session_path, :class => "not_logged_in log enter" %>
    </div>

    <div class="enter ">
      <%= link_to "Sign Up", new_user_path,:class => "not_logged_in sign enter"  %>
    </div>
  </div>
  <% else %>
<div class="centering_container">

  <% if @current_user.followees.count == 0  %>
    <div class="empty_feed">

        <p class="sorry red">Sorry!</p>

      <p class="empty_feed_inner_message">You don't follow anyone yet! Click <%= link_to "here", discover_path, class: "link"%> to discover some users to follow. 🎄  </p>

    </div>
</div> <!-- page_container -->